#### <span style='color:Blue'> **Fetch Data Analyst Project Overview:**</span>

> **Data Source: [Fetch Commerce Data](Raw Data)**

> **Data Quality Issue:**
1. **Inappropriate Data Types**
    - The data types of columns in all three tables (User, Product, and Transaction) were incorrectly defined upon initial reading, requiring adjustments to match their logical meanings (e.g., dates, integers, and floats).

2. **Duplicate and Missing Data**, where rows with identical values across all columns were identified as erroneous duplicates and those with missing value on User ID/ Barcode in the User/Product table would be dropped.
    - Product Table:
        - 215 duplicate rows across all columns were dropped.
        - 4,022 duplicate rows based on BARCODE were identified, with rows containing missing barcode information dropped first.A further 54 duplicate rows based on BARCODE remained, which were cleaned by retaining rows with fewer missing values.
    - Transaction Table:
        - 171 duplicate rows were identified and dropped. Duplicates were defined as rows where SCAN_DATE, RECEIPT_ID, USER_ID, and BARCODE values were identical, which is not valid for unique transactions.

3. **Inconsistent Labeling**
    - User Table: Issues with inconsistent gender labeling.
    - Product Table:
        - Brands were associated with multiple manufacturers.
        - Barcodes were labeled with multiple brand values.
    - Transaction Table: Quantity values were labeled as 'zero' instead of 0.0.

4. **Weak Common Keys for Mapping Across Tables**, the overlap between tables was unexpectedly low:
    - User Table and Transaction Table: Only 130 of 24,795 USER_ID values were common.
    - Product Table: 51.60% of rows had missing information, reducing the ability to map across tables effectively.

> **Data Assumptions For Cleaning:**
1. **Deduplication Logic**
    - In the User Table and Product Table, rows with identical values across all columns were assumed to be duplicates and were removed.
    - Each unique USER_ID in the User Table and each unique BARCODE in the Product Table should only be associated with one row.

2. **Consistency in Product Table**
    - Each BARCODE should be uniquely associated with a single, correct brand, and each brand should have a consistent manufacturer.
    - In cases of inconsistencies, the most frequently occurring brand value for each BARCODE was assumed to be correct. This was resolved through aggregation and frequency counts.

3. **Transaction Data Assumptions**
    - Each transaction (RECEIPT_ID) could involve multiple product barcodes, but only one USER_ID.
    - No two transactions should occur for the same user on the same scan date and time. Duplicate rows were dropped accordingly.

In [1]:
#basic packages 
import pandas as pd
import numpy as np
import random
import math
from scipy import stats
import pickle 
from itertools import combinations
from collections import Counter

#plot
import matplotlib.pyplot as plt
import seaborn as sns
get_ipython().run_line_magic('matplotlib', 'inline')
import plotly.express as px
import plotly.graph_objects as pg
from plotly import tools
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.default = "notebook_connected"

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
custom_template = {
    "layout": pg.Layout(
        font={
            "family": "Courier New",
            "size": 12,
            "color": "#707070",
        },
        title={
            "font": {
                "family": "Courier New",
                "size": 14.5,
                "color": "#1f1f1f",
            },
        },
        plot_bgcolor="#ffffff",
        paper_bgcolor="#ffffff",
        colorway=px.colors.qualitative.G10,
    )
}
def format_title(title, subtitle=None, subtitle_font_size=13):
    title = f'<b>{title}</b>'
    if not subtitle:
        return title
    subtitle = f'<span style="font-size: {subtitle_font_size}px;">{subtitle}</span>'
    return f'{title}<br>{subtitle}'

##### <span style='color:Blue'> **I. Data Cleaning & Processing** </span>

> <span style='color:Blue'> **I.1. Data Quality Check & FIx Inconsistent Labeling.**</span>

In [3]:
def check_and_drop_duplicates(df):
    """
    Function to check for duplicate rows in a DataFrame, drop them, and reset the index.
    """
    num_duplicates = df.duplicated().sum()
    if num_duplicates > 0:
        print(f"{num_duplicates} rows in the dataset are duplicated and will be dropped.")
        df.drop_duplicates(inplace=True)
        df.reset_index(drop=True, inplace=True)
        print(f"Shape after dropping duplicates: {df.shape}")
    else:
        print("No duplicated rows detected in the dataset.")
    return df

def check_duplicates_by_columns(df, columns):
    """
    check for duplicate rows based on specific columns in a DataFrame.
    """
    duplicate_rows = df[df.duplicated(subset=columns, keep=False)]  # keep=False returns all duplicates
    if not duplicate_rows.empty:
        print(f"Found {len(duplicate_rows)} duplicate rows based on columns {columns}.")
    else:
        print(f"No duplicated rows detected based on columns {columns}.")
    return duplicate_rows

In [4]:
User = pd.read_csv('Raw Data/USER_TAKEHOME.csv', delimiter=',', encoding='utf-8')
User.head(2)

,ID,CREATED_DATE,BIRTH_DATE,STATE,LANGUAGE,GENDER
0,5ef3b4f17053ab141787697d,2020-06-24 20:17:54.000 Z,2000-08-11 00:00:00.000 Z,CA,es-419,female
1,5ff220d383fcfc12622b96bc,2021-01-03 19:53:55.000 Z,2001-09-24 04:00:00.000 Z,PA,en,female

In [5]:
User.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            100000 non-null  object
 1   CREATED_DATE  100000 non-null  object
 2   BIRTH_DATE    96325 non-null   object
 3   STATE         95188 non-null   object
 4   LANGUAGE      69492 non-null   object
 5   GENDER        94108 non-null   object
dtypes: object(6)
memory usage: 4.6+ MB

> User Table: Convert to Appropriate Datatype

In [6]:
datetime_columns = ['CREATED_DATE', 'BIRTH_DATE']
for col in datetime_columns:
    User[col] = pd.to_datetime(User[col], errors='coerce')

> User Table: Handle Duplicates Rows and Check for duplicated User ID.

In [7]:
User=check_and_drop_duplicates(User)

No duplicated rows detected in the dataset.

In [8]:
dup_userID= check_duplicates_by_columns(User, ['ID'])

No duplicated rows detected based on columns ['ID'].

> User Table: Handle Inconsistent Labeling

In [9]:
pd.set_option('max_colwidth', None)
varType= User[['STATE','LANGUAGE','GENDER']]
varType_df=pd.DataFrame.from_records([(col, varType[col].dtype, varType[col].nunique(), varType[col].unique().tolist()) for col in varType.columns],
                          columns=['Column_Name','Data_Type', 'Num_Unique_Values', 'Unique Values']).sort_values(by=['Num_Unique_Values'])
varType_df

,Column_Name,Data_Type,Num_Unique_Values,Unique Values
1,LANGUAGE,object,2,"[es-419, en, nan]"
2,GENDER,object,11,"[female, nan, male, non_binary, transgender, prefer_not_to_say, not_listed, Non-Binary, unknown, not_specified, My gender isn't listed, Prefer not to say]"
0,STATE,object,52,"[CA, PA, FL, NC, NY, IN, nan, OH, TX, NM, PR, CO, AZ, RI, MO, NJ, MA, TN, LA, NH, WI, IA, GA, VA, DC, KY, SC, MN, WV, DE, MI, IL, MS, WA, KS, CT, OR, UT, MD, OK, NE, NV, AL, AK, AR, HI, ME, ND, ID, WY, MT, SD, VT]"

In [10]:
# Clean the GENDER column by mapping the values, fill missing values with 'Unknown'
gender_mapping = {'female': 'Female','male': 'Male',
    'non_binary': 'Non-Binary','Non-Binary': 'Non-Binary',
    'transgender': 'Transgender',
    'prefer_not_to_say': 'Prefer not to say','Prefer not to say': 'Prefer not to say',
    'not_listed': 'Not Listed',"My gender isn't listed": 'Not Listed',
    'unknown': 'Unknown','not_specified': 'Unknown',None: 'Unknown',float('nan'): 'Unknown'
}
User['GENDER'] = User['GENDER'].map(gender_mapping).fillna('Unknown')
User['STATE'] = User['STATE'].fillna('Unknown')
print("Unique values in GENDER column after cleaning:",User['GENDER'].unique())

Unique values in GENDER column after cleaning: ['Female' 'Unknown' 'Male' 'Non-Binary' 'Transgender' 'Prefer not to say'
 'Not Listed']

In [35]:
Product = pd.read_csv('Raw Data/PRODUCTS_TAKEHOME.csv', delimiter=',', encoding='utf-8')
Product.head(2)

,CATEGORY_1,CATEGORY_2,CATEGORY_3,CATEGORY_4,MANUFACTURER,BRAND,BARCODE
0,Health & Wellness,Sexual Health,Conductivity Gels & Lotions,NaN,NaN,NaN,7.964944e+11
1,Snacks,Puffed Snacks,Cheese Curls & Puffs,NaN,NaN,NaN,2.327801e+10

In [36]:
Product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845552 entries, 0 to 845551
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CATEGORY_1    845441 non-null  object
 1   CATEGORY_2    844128 non-null  object
 2   CATEGORY_3    784986 non-null  object
 3   CATEGORY_4    67459 non-null   object
 4   MANUFACTURER  619078 non-null  object
 5   BRAND         619080 non-null  object
 6   BARCODE       841527 non-null  float64
dtypes: float64(1), object(6)
memory usage: 45.2+ MB

> Product Table: Handle Duplicates Rows

In [37]:
Product=check_and_drop_duplicates(Product)
Product = Product.dropna(subset=['BARCODE'])

215 rows in the dataset are duplicated and will be dropped.
Shape after dropping duplicates: (845337, 7)

> Product Table: Inconsistent BARCODE Labeling Issue: BARCODE being linked to different BRAND or MANUFACTURER values.

In [38]:
# Group by 'BARCODE' and aggregate the required values
barcode_analysis = (Product.groupby('BARCODE')
    .agg(unique_brands_count=('BRAND', 'nunique'),  # Count of unique brands
        unique_brands_list=('BRAND', lambda x: list(x.unique()))).reset_index())
#barcodes where the number of unique brands is greater than 1
barcodes_with_issues = barcode_analysis[barcode_analysis['unique_brands_count'] > 1]
barcodes_with_issues

             BARCODE  unique_brands_count                   unique_brands_list
188     4.043100e+05                    2             [BRAND NOT KNOWN, M&M'S]
377     7.019830e+05                    2       [SUNRIDGE FARMS, TRADER JOE'S]
657     1.018158e+06                    2  [PALMER'S SKIN & HAIR CARE, PALMER]
930     3.454503e+06                    2               [DISNEY, ICE BREAKERS]
959     3.473009e+06                    2                [BUBBLE YUM, REESE'S]
976     3.484708e+06                    2               [ICE BREAKERS, DISNEY]
2646    2.073306e+07                    2                [LIDL, PRIVATE LABEL]
2848    4.011122e+07                    2                       [BOUNTY, MARS]
3209    8.031017e+07                    2                   [KINDER, KINDER'S]
41099   1.700033e+10                    2                 [SCHWARZKOPF, GÖT2B]
182994  5.233692e+10                    2                 [SCHWARZKOPF, GÖT2B]

> Product Table: Check for duplicated Barcode.

In [39]:
dup_barcode= check_duplicates_by_columns(Product, ['BARCODE'])
dup_barcode.sort_values(by=['BARCODE'])

Found 54 duplicate rows based on columns ['BARCODE'].

,CATEGORY_1,CATEGORY_2,CATEGORY_3,CATEGORY_4,MANUFACTURER,BRAND,BARCODE
841016,Snacks,Candy,Chocolate Candy,NaN,MARS WRIGLEY,M&M'S,4.043100e+05
139113,Snacks,Candy,Chocolate Candy,NaN,PLACEHOLDER MANUFACTURER,BRAND NOT KNOWN,4.043100e+05
610568,Snacks,Nuts & Seeds,Snack Seeds,NaN,SUNRIDGE FARMS,SUNRIDGE FARMS,7.019830e+05
645146,Snacks,Chips,Crisps,NaN,TRADER JOE'S,TRADER JOE'S,7.019830e+05
681134,Snacks,Nuts & Seeds,Almonds,NaN,TRADER JOE'S,TRADER JOE'S,9.693070e+05
171005,Snacks,Nuts & Seeds,Covered Nuts,NaN,TRADER JOE'S,TRADER JOE'S,9.693070e+05
428195,Health & Wellness,Skin Care,Facial Lotion & Moisturizer,NaN,"R.M. PALMER COMPANY, LLC",PALMER,1.018158e+06
123189,Health & Wellness,Skin Care,Lip Balms & Treatments,Medicated Lip Treatments,"E.T. BROWNE DRUG CO., INC.",PALMER'S SKIN & HAIR CARE,1.018158e+06
36017,Snacks,Candy,Candy Variety Pack,NaN,THE HERSHEY COMPANY,HERSHEY'S,3.422007e+06
422750,Snacks,Candy,Chocolate Candy,NaN,THE HERSHEY COMPANY,HERSHEY'S,3.422007e+06
402333,Snacks,Candy,Confection Candy,NaN,THE HERSHEY COMPANY,REESE'S,3.431207e+06
144670,Snacks,Candy,Chocolate Candy,NaN,THE HERSHEY COMPANY,REESE'S,3.431207e+06
468650,Snacks,Candy,Gum,NaN,GENERAL LICENSED IP MANUFACTURER,DISNEY,3.454503e+06
528622,Snacks,Candy,Gum,NaN,THE HERSHEY COMPANY,ICE BREAKERS,3.454503e+06
766076,Snacks,Candy,Chocolate Candy,NaN,THE HERSHEY COMPANY,REESE'S,3.473009e+06
539824,Snacks,Candy,Gum,NaN,THE HERSHEY COMPANY,BUBBLE YUM,3.473009e+06
717296,Snacks,Candy,Gum,NaN,GENERAL LICENSED IP MANUFACTURER,DISNEY,3.484708e+06
594577,Snacks,Candy,Gum,NaN,THE HERSHEY COMPANY,ICE BREAKERS,3.484708e+06
193336,Snacks,Candy,Chocolate Candy,NaN,MARS WRIGLEY,M&M'S,4.003207e+06
137242,Snacks,Nuts & Seeds,Peanuts,NaN,MARS WRIGLEY,M&M'S,4.003207e+06
596671,Health & Wellness,First Aid,Ointments & Liquids,NaN,THE JM SMUCKER COMPANY,DICKINSON'S,5.265169e+06
768502,Health & Wellness,Skin Care,Skin Toners & Astringents,Astringents,THE JM SMUCKER COMPANY,DICKINSON'S,5.265169e+06
132540,Snacks,Cookies,NaN,NaN,NaN,NaN,2.003108e+07
782834,Snacks,Cookies,NaN,NaN,PLACEHOLDER MANUFACTURER,PRIVATE LABEL,2.003108e+07
56987,Snacks,Nuts & Seeds,Almonds,NaN,PLACEHOLDER MANUFACTURER,BRAND NOT KNOWN,2.015908e+07
776767,Snacks,Nuts & Seeds,Covered Nuts,NaN,PLACEHOLDER MANUFACTURER,BRAND NOT KNOWN,2.015908e+07
260669,Snacks,Candy,Chocolate Candy,NaN,"LIDL US, LLC",LIDL,2.052244e+07
127329,Snacks,Nuts & Seeds,Pistachios,NaN,"LIDL US, LLC",LIDL,2.052244e+07
206159,Snacks,Crackers,Graham Crackers,NaN,"LIDL US, LLC",LIDL,2.073306e+07
719868,Snacks,Crackers,Graham Crackers,NaN,PLACEHOLDER MANUFACTURER,PRIVATE LABEL,2.073306e+07
96435,Snacks,Crackers,Other Crackers,NaN,NaN,NaN,2.073325e+07
781849,Snacks,Chips,Crisps,NaN,PLACEHOLDER MANUFACTURER,PRIVATE LABEL,2.073325e+07
274674,Snacks,Candy,Chocolate Candy,NaN,PROCTER & GAMBLE,BOUNTY,4.011122e+07
454469,Snacks,Candy,Chocolate Candy,NaN,MARS WRIGLEY,MARS,4.011122e+07
668584,Health & Wellness,Skin Care,Eye Creams,NaN,WALA HEILMITTEL GMBH,DR HAUSCHKA,4.220849e+07
333739,Health & Wellness,Skin Care,Eye Creams,NaN,NaN,NaN,4.220849e+07
287380,Snacks,Candy,Chocolate Candy,NaN,NESTLE,NESTLE,5.042617e+07
184561,Snacks,Candy,Chocolate Candy,NaN,NaN,NaN,5.042617e+07
181892,Snacks,Candy,Confection Candy,NaN,GRUPO NACIONAL DE CHOCOLATES SA,NUTRESA,7.505306e+07
114126,Snacks,Candy,Chocolate Candy,NaN,GRUPO NACIONAL DE CHOCOLATES SA,NUTRESA,7.505306e+07
162,Health & Wellness,Hair Removal,Shaving Gel & Cream,Women's Shaving Gel & Cream,PLACEHOLDER MANUFACTURER,PRORASO,8.019914e+07
810158,Health & Wellness,Hair Removal,Shaving Gel & Cream,Men's Shaving Gel & Cream,PLACEHOLDER MANUFACTURER,PRORASO,8.019914e+07
216300,Snacks,Candy,Chocolate Candy,NaN,FERRERO GROUP,KINDER,8.031017e+07
585528,Snacks,Candy,Chocolate Candy,NaN,KINDER'S,KINDER'S,8.031017e+07
300301,Snacks,Candy,Confection Candy,NaN,PERFETTI VAN MELLE,MENTOS,8.710854e+07
108321,Snacks,Candy,Mints,NaN,PERFETTI VAN MELLE,MENTOS,8.710854e+07
37152,Snacks,Candy,Confection Candy,NaN,PERFETTI VAN MELLE,MENTOS,8.730629e+07
777403,Snacks,Candy,Mints,NaN,PERFETTI VAN MELLE,MENTOS,8.730629e+07
379700,Snacks,Candy,Gum,NaN,NaN,NaN,3.600540e+08
708319,Snacks,Candy,Mints,NaN,LOTUS BRANDS INC,ECO-DENT,3.600540e+08
303995,Health & Wellness,Hair Care,Hair Color,NaN,HENKEL,GÖT2B,1.700033e+10
213326,Health & Wellness,Hair Care,Hair Color,NaN,HENKEL,SCHWARZKOPF,1.700033e+10
28421,Health & Wellness,Hair Care,Hair Color,NaN,HENKEL,SCHWARZKOPF,5.233692e+10
709460,Health & Wellness,Hair Care,Hair Color,NaN,HENKEL,GÖT2B,5.233692e+10

In [40]:
index_to_drop = [139113	,645146,681134,428195,36017	,402333,468650,539824,717296,137242,596671,132540,719868,
                 56987,260669,96435,274674,333739,184561,181892,162,216300,300301,37152,379700,303995,709460]
Product = Product.drop(index=index_to_drop)

> Product Table: Handle Inconsistent Labeling Issue

In [41]:
issue_category_2 = Product[
    Product[['CATEGORY_1', 'CATEGORY_2', 'CATEGORY_3']].notna().all(axis=1) &  
    Product.duplicated(subset=['CATEGORY_1', 'CATEGORY_3'], keep=False) & 
    ~Product.duplicated(subset=['CATEGORY_1', 'CATEGORY_3', 'CATEGORY_2'], keep=False)  # CATEGORY_2 differs
]

issue_category_3 = Product[
    Product[['CATEGORY_2', 'CATEGORY_3', 'CATEGORY_4']].notna().all(axis=1) &  
    Product.duplicated(subset=['CATEGORY_2', 'CATEGORY_4'], keep=False) & 
    ~Product.duplicated(subset=['CATEGORY_2', 'CATEGORY_4', 'CATEGORY_3'], keep=False)  # CATEGORY_3 differs
]
print("Row Length with category labeling issues for CATEGORY_2:", len(issue_category_2))
print("Row Length with category labeling issues for CATEGORY_3:", len(issue_category_3))

Row Length with category labeling issues for CATEGORY_2: 0
Row Length with category labeling issues for CATEGORY_3: 0

In [42]:
# MANUFACTURER LABELING ISSUE IN PRODUCT DATASET
filtered_product = Product[Product[['BRAND', 'MANUFACTURER']].notna().all(axis=1)]

# Group by BRAND and MANUFACTURER and count occurrences of each combination
brand_manufacturer_count = filtered_product.groupby(['BRAND', 'MANUFACTURER']).size().reset_index(name='COUNT')

# find brands associated with more than one manufacturer
brands_with_multiple_manufacturers = brand_manufacturer_count.groupby('BRAND').filter(lambda x: len(x) > 1)
print("Brands with multiple manufacturers and their counts:")
brands_with_multiple_manufacturers

Brands with multiple manufacturers and their counts:

                     BRAND                   MANUFACTURER  COUNT
1317             CHAPSTICK                GLAXOSMITHKLINE      5
1318             CHAPSTICK                         HALEON   1099
4129  LE PETIT MARSEILIAIS  J AND J CONSUMER PRODUCTS INC      5
4130  LE PETIT MARSEILIAIS              JOHNSON & JOHNSON     17
4131  LE PETIT MARSEILIAIS          SERVICE CONSOMMATEURS      1
7472                 TYGAZ                          TYGAZ    111
7473                 TYGAZ                        UNKNOWN     18

In [43]:
# Update the MANUFACTURER column in the Product dataframe
most_frequent_manufacturer = (brands_with_multiple_manufacturers.loc[
        brands_with_multiple_manufacturers.groupby('BRAND')['COUNT'].idxmax()
    ][['BRAND', 'MANUFACTURER']])
brand_to_manufacturer = dict(zip(most_frequent_manufacturer['BRAND'], most_frequent_manufacturer['MANUFACTURER']))
Product['MANUFACTURER'] = Product.apply(lambda row: brand_to_manufacturer[row['BRAND']]
    if row['BRAND'] in brand_to_manufacturer else row['MANUFACTURER'],axis=1)

print("Check Updated Product dataframe with corrected MANUFACTURER values:")
Product[Product['BRAND'].isin(['CHAPSTICK', 'TYGAZ','LE PETIT MARSEILIAIS'])].groupby('BRAND')['MANUFACTURER'].nunique()

Check Updated Product dataframe with corrected MANUFACTURER values:

BRAND
CHAPSTICK               1
LE PETIT MARSEILIAIS    1
TYGAZ                   1
Name: MANUFACTURER, dtype: int64

In [44]:
Transaction = pd.read_csv('Raw Data/TRANSACTION_TAKEHOME.csv', delimiter=',', encoding='utf-8')
Transaction.head(2)

,RECEIPT_ID,PURCHASE_DATE,SCAN_DATE,STORE_NAME,USER_ID,BARCODE,FINAL_QUANTITY,FINAL_SALE
0,0000d256-4041-4a3e-adc4-5623fb6e0c99,2024-08-21,2024-08-21 14:19:06.539 Z,WALMART,63b73a7f3d310dceeabd4758,1.530001e+10,1.00,
1,0001455d-7a92-4a7b-a1d2-c747af1c8fd3,2024-07-20,2024-07-20 09:50:24.206 Z,ALDI,62c08877baa38d1a1f6c211a,NaN,zero,1.49

In [45]:
Transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RECEIPT_ID      50000 non-null  object
 1   PURCHASE_DATE   50000 non-null  object
 2   SCAN_DATE       50000 non-null  object
 3   STORE_NAME      50000 non-null  object
 4   USER_ID         50000 non-null  object
 5   BARCODE         44238 non-null  float64
 6   FINAL_QUANTITY  50000 non-null  object
 7   FINAL_SALE      50000 non-null  object
dtypes: float64(1), object(7)
memory usage: 3.1+ MB

> Transaction Table: FIx Inconsistent Labeling for Quantity and Sale Fields

In [46]:
print(Transaction.FINAL_QUANTITY.unique().tolist())
print(Transaction.FINAL_SALE.unique().tolist())

['1.00', 'zero', '2.00', '3.00', '4.00', '4.55', '2.83', '2.34', '0.46', '7.00', '18.00', '12.00', '5.00', '2.17', '0.23', '8.00', '1.35', '0.09', '2.58', '1.47', '16.00', '0.62', '1.24', '1.40', '0.51', '0.53', '1.69', '6.00', '2.39', '2.60', '10.00', '0.86', '1.54', '1.88', '2.93', '1.28', '0.65', '2.89', '1.44', '2.75', '1.81', '276.00', '0.87', '2.10', '3.33', '2.54', '2.20', '1.93', '1.34', '1.13', '2.19', '0.83', '2.61', '0.28', '1.50', '0.97', '0.24', '1.18', '6.22', '1.22', '1.23', '2.57', '1.07', '2.11', '0.48', '9.00', '3.11', '1.08', '5.53', '1.89', '0.01', '2.18', '1.99', '0.04', '2.25', '1.37', '3.02', '0.35', '0.99', '1.80', '3.24', '0.94', '2.04', '3.69', '0.70', '2.52', '2.27']
[' ', '1.49', '3.49', '1.46', '3.59', '2.29', '10.99', '0.97', '7.48', '2.49', '5.25', '1.25', '2.92', '3.67', '1.39', '1.38', '4.18', '0.50', '2.68', '5.49', '1.44', '23.48', '4.88', '3.18', '0.18', '1.79', '1.54', '0.99', '2.39', '7.58', '3.00', '3.70', '6.47', '4.25', '5.48', '3.25', '0.88', '1.99', '3.99', '45.99', '14.98', '2.99', '1.09', '2.44', '4.68', '6.00', '1.48', '4.47', '8.99', '1.67', '1.12', '9.97', '0.64', '3.75', '15.99', '5.30', '2.79', '5.98', '3.92', '2.17', '5.72', '2.98', '23.96', '3.68', '5.47', '4.97', '0.45', '3.88', '0.52', '5.01', '3.28', '5.00', '2.62', '3.94', '4.50', '8.47', '6.38', '2.28', '5.89', '3.19', '3.78', '2.59', '5.50', '1.69', '3.39', '5.97', '5.99', '1.92', '2.27', '1.35', '2.52', '2.34', '2.90', '1.04', '2.00', '2.88', '3.48', '2.63', '12.99', '2.97', '4.29', '1.50', '4.66', '4.00', '3.69', '2.76', '2.32', '1.27', '8.94', '1.00', '1.68', '9.99', '0.00', '1.98', '2.09', '12.97', '3.13', '1.64', '2.70', '3.62', '3.98', '1.84', '1.26', '54.98', '4.98', '0.32', '2.69', '2.19', '2.48', '4.49', '1.18', '3.73', '1.81', '9.98', '1.95', '1.52', '13.48', '6.97', '4.99', '3.12', '0.78', '2.58', '1.88', '7.99', '1.97', '8.28', '0.62', '6.36', '5.22', '4.76', '8.98', '4.87', '16.35', '6.79', '0.98', '1.94', '1.29', '6.58', '3.82', '4.28', '1.57', '4.94', '11.97', '4.72', '4.75', '0.59', '2.67', '8.17', '6.84', '13.86', '0.70', '2.50', '2.85', '10.44', '1.55', '4.95', '14.99', '34.69', '1.06', '5.63', '0.30', '1.42', '4.19', '3.50', '3.84', '0.86', '6.19', '1.20', '0.48', '1.28', '21.28', '7.97', '16.46', '2.89', '4.39', '3.29', '9.89', '10.49', '5.58', '5.04', '4.05', '3.74', '4.78', '4.69', '5.43', '1.45', '2.86', '1.82', '1.08', '19.48', '3.79', '6.57', '9.58', '3.97', '6.99', '2.35', '41.99', '21.47', '3.89', '19.99', '2.82', '7.79', '6.98', '31.98', '6.14', '4.59', '3.35', '9.59', '1.33', '3.93', '4.93', '6.48', '29.97', '5.64', '1.34', '6.24', '0.75', '2.38', '13.90', '3.47', '4.36', '5.19', '1.87', '6.71', '1.75', '5.44', '1.37', '34.97', '4.48', '6.63', '6.49', '9.79', '8.97', '5.56', '1.59', '2.78', '5.94', '3.58', '21.99', '7.44', '3.22', '16.98', '6.68', '1.24', '3.30', '1.85', '3.72', '8.49', '9.05', '11.99', '7.18', '2.22', '1.89', '21.98', '2.65', '1.53', '4.58', '9.36', '9.37', '3.64', '15.04', '2.37', '10.84', '1.77', '6.54', '7.98', '7.50', '1.62', '3.65', '11.98', '2.24', '17.46', '5.29', '18.48', '6.96', '5.79', '2.14', '1.32', '4.79', '15.49', '16.00', '1.76', '8.25', '10.12', '7.78', '3.33', '17.48', '2.83', '9.92', '1.56', '2.18', '44.99', '4.89', '6.28', '14.36', '5.74', '3.16', '4.44', '5.28', '4.70', '3.90', '2.75', '7.59', '1.16', '2.15', '0.25', '0.57', '1.30', '7.34', '6.69', '7.68', '10.98', '3.38', '10.00', '7.39', '2.57', '1.96', '11.47', '8.58', '16.39', '7.49', '25.98', '3.44', '6.50', '15.79', '1.78', '3.10', '4.34', '9.96', '5.38', '21.49', '6.39', '1.66', '3.42', '2.96', '4.54', '7.38', '4.13', '12.49', '3.96', '5.18', '17.67', '6.59', '0.96', '1.58', '0.49', '3.15', '5.12', '4.42', '4.46', '11.00', '5.67', '2.12', '0.92', '7.00', '1.36', '8.90', '0.74', '1.70', '4.16', '1.72', '2.64', '1.74', '3.54', '3.77', '10.97', '19.97', '3.85', '7.72', '0.95', '1.23', '1.17', '6.16', '30.00', '5.53', '3.52', '8.50', '4.43', '6.30', '6.78', '2.25', '20.00', '4.45', '13.44', '1.65', '6.94', '5.39', '1.15', '9.49', '22.48', '0.82', '2.84', '4.84', '8.19', '3.56', '10.45', '0.68', '1.90', '8.39', '2.93', '2.95', '25.00', '1.40', '0.84', '0.81', '4.65', '0.47', '13.49', '40.70', '13.98', '8.12', '8.88', '14.93', '5.78', '2.72', '6.18', '3.37', '7.69', '23.99', '3.14', '8.00', '6.89', '4.24', '6.74', '71.97', '16.99', '4.15', '5.27', '3.57', '16.79', '3.06', '24.99', '4.57', '5.86', '8.24', '24.98', '62.87', '12.96', '1.19', '4.02', '0.93', '12.98', '18.99', '2.36', '10.06', '8.96', '3.27', '2.54', '4.64', '8.59', '12.00', '1.10', '11.90', '0.60', '4.12', '2.23', '5.76', '2.74', '14.87', '17.99', '1.22', '11.34', '3.32', '5.68', '21.56', '3.43', '0.42', '0.66', '4.22', '31.87', '0.89', '5.88', '7.26', '4.40', '4.60', '24.94', '19.88', '39.92', '24.55', '3.26', '24.79', '7.47', '2.87', '8.48', '1.14', '60.98', '13.29', '8.07', '1.13', '0.67', '3.21', '8.27', '10.37', '2.47', '0.69', '0.94', '13.94', '15.00', '9.50', '10.88', '2.94', '7.64', '1.47', '19.49', '13.24', '1.43', '14.89', '2.45', '4.32', '9.64', '1.02', '3.86', '14.01', '5.37', '2.80', '6.29', '3.20', '0.21', '7.52', '2.08', '3.36', '14.30', '6.44', '2.26', '23.95', '7.29', '11.76', '2.40', '7.46', '6.88', '4.37', '11.96', '3.66', '13.99', '8.78', '6.62', '6.77', '16.08', '6.34', '33.75', '29.95', '5.96', '5.36', '9.68', '6.64', '90.00', '7.56', '13.96', '3.34', '3.55', '0.34', '4.74', '4.38', '1.80', '8.79', '16.97', '11.89', '6.65', '19.78', '4.67', '4.23', '6.95', '7.24', '0.77', '12.58', '26.99', '19.98', '5.92', '18.91', '5.17', '0.24', '8.66', '36.00', '11.59', '12.79', '14.69', '21.85', '8.76', '11.66', '13.69', '23.97', '5.69', '2.42', '13.17', '10.64', '8.89', '15.28', '30.49', '17.37', '27.96', '2.46', '9.00', '5.59', '28.99', '15.89', '4.10', '0.39', '11.17', '5.93', '20.78', '3.60', '18.49', '4.62', '5.70', '0.58', '10.47', '5.34', '0.35', '7.95', '3.09', '6.60', '7.36', '4.09', '2.55', '19.18', '6.72', '2.51', '14.00', '21.25', '21.48', '2.43', '1.61', '6.37', '20.99', '48.00', '20.98', '7.65', '3.45', '4.90', '16.89', '13.89', '20.91', '7.45', '16.49', '17.96', '7.89', '24.00', '4.92', '4.55', '3.08', '12.07', '14.49', '52.90', '10.29', '4.31', '9.87', '0.10', '13.55', '16.68', '2.56', '1.86', '7.88', '6.45', '9.88', '13.92', '2.60', '11.49', '11.29', '0.72', '5.09', '7.17', '2.77', '13.28', '13.88', '8.38', '3.24', '5.32', '21.00', '3.17', '10.76', '9.38', '10.50', '4.30', '12.72', '14.39', '11.57', '9.44', '26.96', '9.25', '8.62', '4.14', '6.12', '12.17', '0.37', '12.78', '10.48', '6.25', '7.30', '3.46', '15.26', '2.91', '29.99', '5.42', '9.29', '9.28', '5.10', '9.90', '11.94', '3.87', '9.86', '8.68', '8.42', '8.34', '5.84', '30.02', '1.73', '6.42', '17.00', '2.10', '2.66', '19.96', '22.32', '4.04', '8.46', '7.96', '18.37', '8.80', '0.79', '4.17', '12.94', '21.79', '23.85', '0.05', '14.72', '3.03', '5.83', '15.56', '0.40', '5.45', '2.41', '7.84', '3.76', '3.11', '9.48', '10.34', '4.96', '15.18', '7.90', '2.13', '4.85', '39.98', '6.83', '14.59', '8.18', '59.88', '5.24', '5.54', '44.97', '3.63', '17.20', '6.27', '4.21', '0.63', '15.60', '9.95', '30.99', '17.64', '29.98', '14.94', '5.41', '6.80', '46.49', '22.98', '3.80', '12.45', '19.19', '39.94', '3.95', '9.47', '4.83', '5.90', '7.19', '3.53', '11.85', '15.98', '2.16', '10.39', '12.88', '6.17', '11.77', '4.53', '2.30', '19.31', '5.33', '5.52', '10.42', '0.73', '7.70', '12.76', '2.03', '23.49', '7.28', '11.50', '9.94', '22.99', '14.16', '9.18', '33.99', '0.22', '11.68', '12.59', '18.92', '11.70', '10.36', '2.73', '12.06', '11.12', '15.97', '5.15', '8.14', '6.82', '5.87', '15.96', '18.98', '16.50', '0.36', '8.09', '2.06', '13.12', '4.41', '12.71', '5.57', '13.47', '38.49', '9.19', '15.84', '7.40', '11.82', '69.20', '1.60', '6.70', '0.44', '2.05', '0.20', '8.32', '18.56', '9.27', '10.93', '27.99', '0.76', '17.97', '4.86', '35.94', '23.73', '14.88', '8.29', '1.51', '11.79', '33.98', '0.90', '14.76', '2.71', '1.05', '24.50', '10.38', '3.81', '8.30', '2.07', '15.02', '7.43', '45.00', '14.25', '17.94', '6.32', '18.19', '39.99', '14.48', '6.22', '2.20', '11.74', '30.10', '9.11', '9.69', '30.21', '11.18', '4.52', '15.43', '9.12', '11.54', '7.55', '12.11', '17.52', '11.53', '3.51', '23.00', '2.02', '8.95', '8.72', '30.98', '14.38', '7.09', '5.75', '23.89', '64.87', '5.62', '39.97', '39.77', '5.08', '11.16', '4.80', '5.23', '14.42', '462.82', '5.16', '7.75', '8.74', '7.93', '7.66', '12.36', '12.47', '21.20', '6.40', '14.97', '13.76', '14.79', '9.76', '6.09', '1.31', '21.44', '11.20', '25.99', '8.64', '28.22', '5.82', '49.96', '12.89', '31.99', '7.27', '26.98', '11.22', '22.59', '1.71', '48.99', '12.50', '10.60', '0.13', '10.17', '17.49', '18.87', '18.88', '8.23', '5.65', '8.02', '7.74', '10.24', '9.56', '8.52', '4.07', '11.78', '11.88', '24.84', '6.33', '0.46', '0.26', '41.96', '13.95', '1.93', '0.54', '13.36', '11.23', '15.06', '23.46', '3.61', '7.41', '17.86', '19.22', '4.56', '35.00', '32.25', '13.97', '15.45', '0.09', '0.53', '0.85', '7.14', '22.35', '0.80', '15.78', '12.38', '10.59', '4.77', '9.74', '8.69', '10.95', '11.24', '3.83', '17.28', '3.40', '20.96', '6.52', '5.77', '0.51', '23.98', '1.07', '12.01', '8.43', '0.17', '16.48', '5.71', '47.99', '14.50', '8.82', '13.63', '28.49', '13.66', '5.60', '10.89', '13.78', '1.63', '19.76', '2.61', '17.98', '3.04', '238.17', '9.78', '8.87', '4.26', '10.32', '11.48', '2.53', '10.78', '4.06', '1.83', '13.00', '5.14', '9.14', '3.05', '6.67', '23.86', '8.44', '12.95', '0.33', '3.23', '7.85', '2.01', '7.08', '15.34', '27.87', '7.20', '7.67', '4.91', '17.13', '31.11', '10.73', '25.97', '17.19', '15.48', '4.63', '19.47', '52.49', '11.28', '16.55', '6.46', '18.18', '35.98', '21.74', '9.84', '9.54', '12.48', '4.27', '15.88', '10.58', '31.34', '1.01', '28.81', '9.21', '25.20', '4.11', '25.60', '44.98', '0.91', '24.27', '5.40', '7.16', '12.64', '6.92', '5.95', '4.82', '20.23', '13.77', '5.46', '6.26', '5.80', '27.98', '6.10', '6.73', '10.35', '13.73', '9.71', '17.40', '9.24', '10.63', '6.90', '11.36', '15.94', '7.54', '8.37', '12.54', '0.04', '12.69', '18.29', '5.66', '6.20', '17.16', '5.35', '29.00', '19.16', '43.49', '0.55', '11.95', '34.36', '28.38', '12.68', '0.87', '48.42', '0.01', '51.78', '23.38', '0.65', '13.68', '12.08', '0.61', '15.69', '7.42', '18.47', '21.41', '93.67', '24.63', '9.01', '33.97', '101.70', '11.64', '31.43', '11.09', '11.61', '10.69', '25.06', '23.88', '5.55', '42.47', '3.07', '11.13', '0.83', '14.96', '12.13', '7.15', '25.72', '19.44', '24.49', '19.38', '11.91', '0.03', '17.05', '11.30', '74.99', '18.00', '10.90', '5.61', '14.67', '7.33', '0.12', '12.29', '13.20', '7.73', '29.67', '12.75', '10.94', '6.55', '27.00', '13.64', '20.03', '11.69', '9.34', '59.95', '9.82', '16.75', '64.44', '17.04', '11.71', '13.50', '32.88', '224.99', '24.36', '43.09', '9.77', '21.50', '8.31', '5.07', '68.54', '267.29', '20.88', '32.98', '7.22', '14.24', '18.97', '9.39', '5.02', '7.25', '17.72', '4.35', '17.69', '10.18', '8.71', '25.04', '7.12', '9.73', '7.35', '17.73', '8.40', '7.37', '14.73', '6.76', '6.75', '49.13', '42.97', '7.53', '26.00', '12.15', '0.14', '49.95', '22.44', '6.87', '6.08', '77.80', '18.95', '19.92', '7.94', '5.91', '7.83', '15.87', '20.48', '9.32', '6.31', '3.41', '32.00', '38.50', '0.41', '77.17', '16.47', '13.59', '10.92', '61.30', '22.49', '10.79', '13.14', '15.72', '18.03', '6.61', '10.33', '43.79', '42.98', '14.40', '34.26', '9.65', '11.67', '6.85', '34.99', '21.97', '13.16', '0.07', '16.94', '19.00', '11.06', '32.99', '15.40', '8.54', '0.56', '7.23', '47.84', '36.89', '12.12', '13.33', '9.43', '9.72', '22.41', '12.90', '17.41', '27.07', '27.89', '139.31', '20.29', '4.01', '9.57', '51.83', '10.16', '46.92', '8.36', '11.25', '46.98', '27.25', '17.58', '8.93', '11.40', '5.20', '15.90', '14.68', '17.89', '9.16', '15.75', '36.99', '1.41', '8.56', '15.80', '8.70', '59.97', '4.73', '7.63', '12.70', '10.40', '59.94', '29.18', '0.43', '12.23', '16.22', '12.04', '22.19', '22.94', '30.48', '13.19', '18.12', '14.84', '27.88', '15.57', '49.00', '38.97', '24.68', '33.00', '6.03', '56.10', '11.33', '47.00', '60.00', '12.03', '28.57', '14.10', '10.67', '81.81', '8.05', '10.85', '8.60', '5.26', '13.54', '16.24', '8.26', '12.86', '41.85', '27.40', '24.80', '10.28', '20.95', '13.18', '27.18', '12.57', '5.13', '0.28', '9.63', '1.03', '19.82', '6.23', '12.28', '38.45', '8.55', '1.91', '19.70', '14.60', '29.49', '9.04', '11.04', '49.04', '4.03', '18.23', '32.78', '10.20', '35.21', '47.98', '10.72', '7.77', '10.09', '72.00', '55.94', '15.74', '14.82', '7.82', '13.45', '25.17', '7.05', '13.56', '14.65', '8.77', '14.58', '19.79', '16.53', '2.33', '18.82', '20.46', '7.21', '20.16', '6.86', '8.86', '3.01', '0.29', '22.92', '9.85', '24.60', '100.00', '13.74', '12.87', '27.64', '70.00', '9.45', '39.51', '17.45', '11.02', '20.17', '42.38']

In [47]:
Transaction['FINAL_QUANTITY'] = Transaction['FINAL_QUANTITY'].replace('zero', '0.0')
Transaction['FINAL_SALE'] = Transaction['FINAL_SALE'].replace(' ', np.nan)

> Transaction Table: Handle Duplicates rows by keeping records with less NaN value

In [48]:
Transaction= check_and_drop_duplicates(Transaction)

171 rows in the dataset are duplicated and will be dropped.
Shape after dropping duplicates: (49829, 8)

In [49]:
dup_transaction= check_duplicates_by_columns(Transaction, ['SCAN_DATE','RECEIPT_ID','USER_ID','BARCODE'])
dup_transaction.sort_values(by=['RECEIPT_ID','USER_ID'])

Found 49829 duplicate rows based on columns ['SCAN_DATE', 'RECEIPT_ID', 'USER_ID', 'BARCODE'].

,RECEIPT_ID,PURCHASE_DATE,SCAN_DATE,STORE_NAME,USER_ID,BARCODE,FINAL_QUANTITY,FINAL_SALE
0,0000d256-4041-4a3e-adc4-5623fb6e0c99,2024-08-21,2024-08-21 14:19:06.539 Z,WALMART,63b73a7f3d310dceeabd4758,1.530001e+10,1.00,NaN
41464,0000d256-4041-4a3e-adc4-5623fb6e0c99,2024-08-21,2024-08-21 14:19:06.539 Z,WALMART,63b73a7f3d310dceeabd4758,1.530001e+10,1.00,1.54
1,0001455d-7a92-4a7b-a1d2-c747af1c8fd3,2024-07-20,2024-07-20 09:50:24.206 Z,ALDI,62c08877baa38d1a1f6c211a,NaN,0.0,1.49
39205,0001455d-7a92-4a7b-a1d2-c747af1c8fd3,2024-07-20,2024-07-20 09:50:24.206 Z,ALDI,62c08877baa38d1a1f6c211a,NaN,1.00,1.49
2,00017e0a-7851-42fb-bfab-0baa96e23586,2024-08-18,2024-08-19 15:38:56.813 Z,WALMART,60842f207ac8b7729e472020,7.874223e+10,1.00,NaN
...,...,...,...,...,...,...,...,...
28116,fffbb112-3cc5-47c2-b014-08db2f87e0c7,2024-07-30,2024-08-04 11:43:31.474 Z,WALMART,5eb59d6be7012d13941af5e2,8.180000e+11,1.00,4.88
24975,fffbfb2a-7c1f-41c9-a5da-628fa7fcc746,2024-07-28,2024-07-28 11:47:34.180 Z,WALMART,62a0c8f7d966665570351bb8,1.300001e+10,1.00,NaN
31547,fffbfb2a-7c1f-41c9-a5da-628fa7fcc746,2024-07-28,2024-07-28 11:47:34.180 Z,WALMART,62a0c8f7d966665570351bb8,1.300001e+10,1.00,3.48
24976,fffe8012-7dcf-4d84-b6c6-feaacab5074a,2024-09-07,2024-09-08 08:21:25.648 Z,WALGREENS,5f53c62bd683c715b9991b20,7.432310e+10,0.0,2.98
25210,fffe8012-7dcf-4d84-b6c6-feaacab5074a,2024-09-07,2024-09-08 08:21:25.648 Z,WALGREENS,5f53c62bd683c715b9991b20,7.432310e+10,2.00,2.98

In [50]:
dup_transaction['nan_or_zero_count'] = dup_transaction.isna().sum(axis=1) + (dup_transaction == '0.0').sum(axis=1)
dup_transaction_sorted = dup_transaction.sort_values(by=['nan_or_zero_count', 'RECEIPT_ID', 'USER_ID'])
rows_to_drop = dup_transaction_sorted[~dup_transaction_sorted.index.isin(
    dup_transaction_sorted.drop_duplicates(subset=['SCAN_DATE', 'RECEIPT_ID', 'USER_ID', 'BARCODE'], keep='first').index
)]
Transaction = Transaction.drop(index=rows_to_drop.index)
len(Transaction)

24795

In [51]:
# Conversion dictionary mapping columns to target data types
conversion_map = {'PURCHASE_DATE': 'datetime','SCAN_DATE': 'datetime','FINAL_QUANTITY': 'float','FINAL_SALE': 'float'}

for col, dtype in conversion_map.items():
    if dtype == 'datetime':
        Transaction[col] = pd.to_datetime(Transaction[col], errors='coerce')
    elif dtype == 'float':
        Transaction[col] = pd.to_numeric(Transaction[col], errors='coerce')
print("\nUpdated Data Types:")
Transaction.dtypes

Updated Data Types:

RECEIPT_ID                     object
PURCHASE_DATE          datetime64[ns]
SCAN_DATE         datetime64[ns, UTC]
STORE_NAME                     object
USER_ID                        object
BARCODE                       float64
FINAL_QUANTITY                float64
FINAL_SALE                    float64
dtype: object

> Transaction Table: Check for Common rows based on Key column

In [52]:
check_UserID = Transaction.merge(User[['ID']], left_on='USER_ID', right_on='ID', how='inner', indicator=True)
print(f'Length of Common USER_ID in Transaction and User tables: {len(check_UserID)} out of {len(Transaction)}')

Length of Common USER_ID in Transaction and User tables: 130 out of 24795

In [53]:
check_barcode = Transaction.merge(Product[['BARCODE', 'CATEGORY_1']], on='BARCODE', how='left', indicator=True)
missing_category1_count = check_barcode['CATEGORY_1'].isnull().sum()
missing_percentage = (missing_category1_count /  len(check_barcode)) * 100
print(f"Percentage of rows with missing values in 'CATEGORY_1': {missing_percentage:.2f}%")

Percentage of rows with missing values in 'CATEGORY_1': 51.60%

In [54]:
#Left joined Transactions with User and Product table 
merged_df = pd.merge(Transaction, User, left_on='USER_ID', right_on='ID', how='left')
merged_df = pd.merge(merged_df, Product, on='BARCODE', how='left')
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24795 entries, 0 to 24794
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RECEIPT_ID      24795 non-null  object
 1   PURCHASE_DATE   24795 non-null  datetime64[ns]
 2   SCAN_DATE       24795 non-null  datetime64[ns, UTC]
 3   STORE_NAME      24795 non-null  object
 4   USER_ID         24795 non-null  object
 5   BARCODE         21979 non-null  float64
 6   FINAL_QUANTITY  24795 non-null  float64
 7   FINAL_SALE      24795 non-null  float64
 8   ID              130 non-null    object
 9   CREATED_DATE    130 non-null    datetime64[ns, UTC]
 10  BIRTH_DATE      129 non-null    datetime64[ns, UTC]
 11  STATE           130 non-null    object
 12  LANGUAGE        130 non-null    object
 13  GENDER          130 non-null    object
 14  CATEGORY_1      12001 non-null  object
 15  CATEGORY_2      11989 non-null  object
 16  CATEGORY_3      11037 non-null  object
 17  CATEGORY_4      1502 non-null   object
 18  MANUFACTURER    11989 non-null  object
 19  BRAND           11989 non-null  object
dtypes: datetime64[ns, UTC](3), datetime64[ns](1), float64(3), object(13)
memory usage: 3.8+ MB

In [55]:
# Drop 'ID' column if it exists
if 'ID' in merged_df.columns:
    merged_df = merged_df.drop(columns=['ID'])

In [56]:
missing_df = (merged_df.isnull().mean() * 100).reset_index()
missing_df.columns = ['Column', 'Missing Percentage']
fig = px.bar(missing_df[missing_df['Missing Percentage']>0],x='Missing Percentage',y='Column',orientation='h',
    title=format_title('Percentage of Missing Values per Column'),
    labels={'Missing Percentage': 'Percentage (%)'},
    text_auto='.2f',template=custom_template)
fig.add_vline(x=50, line_dash="dash", line_color="red",line_width=2,
    annotation_text="50% Benchmark", annotation_position="bottom left" )
fig.update_layout(xaxis_title='Columns', yaxis_title='Missing Percentage (%)',
                  title_x=0.5, margin=dict(l=200, r=0, t=30, b=0))
fig.show()

>Store 3 Tables and Merged Table as Pickle file

In [57]:
Product.to_pickle("Cleaned Data/Product.pkl")
User.to_pickle("Cleaned Data/User.pkl")
Transaction.to_pickle("Cleaned Data/Transaction.pkl")
merged_df.to_pickle("Cleaned Data/merged_df.pkl")